@use '../utils' as *;

.header {
  background-image: url('../images/cover_photo.avif');
  background-position: 88%;
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  &__bottom {
    padding-bottom: 88px;
    text-align: center;

    @include on-tablet {
      padding-bottom: 130px;
    }
  }

  &__title {
    margin: 0;

    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.04em;

    @include on-tablet {
      font-size: 64px;
    }
  }
}
