@use '../utils' as *;

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: $menu-bg-color;
  font-weight: 600;
  text-transform: uppercase;

  &__top {
    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 36px;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 27px;
    color: $menu-text-color;
    text-decoration: none;
    width: fit-content;

    @include mouse-hover {
      @include hover(transform, scale(1.2));
    }
  }

  &__call-to-order {
    display: block;
    padding-bottom: 8px;
    border-bottom: 1px solid $menu-text-color;
    width: fit-content;

    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: $menu-text-color;
    text-decoration: none;

    @include mouse-hover {
      @include hover(transform, scale(1.2));
    }
  }
}
