@use '../utils' as *;

.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  line-height: 27px;
  color: $menu-text-color;

  border-radius: 40px;
  background-color: $button-bg-color;
  text-decoration: none;
  padding-block: 14.5px;

  @include hover(transform, scale(1.05));

  &:hover {
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.4);
  }

  &:focus {
    box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
  }
}
