@use '../utils' as *;

.product {
  &__photo {
    max-width: 100%;
    height: auto;
    display: block;

    @include mouse-hover {
      @include hover(transform, scale(1.05));
    }
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
  }
}
